@import '~common/styl/variable.styl'
.loading-content
  width 100%
  position absolute
  top 50%
  transform translateY(-50%)
  .loading-wrapper
    width 100%
    text-align center
    .desc
      line-height 20px
      font-size $font-size-small
      color $color-text-l